.center{display: block;
  margin-left: auto;
  margin-right: auto;
  ;}

.background
{
  background-image: url(https://2.bp.blogspot.com/-E2VnQVcEpsk/U2D2dVqWGvI/AAAAAAAADq0/IAnpcGL8PK4/s1600/2013-05-17+16.23.50.jpg);
}

img {
  position:relative;
  top:70px
}

p {
  font-size: 40px;
}

.image1{display: block;
float: left;}

.image2{display: block;
float: right;}
.container {max-width: 400px}

.midt {display: inline;

top: 500px
left:250px}

#shbjbehbehebj
